<div id="manager-actions">
    <span>{translate(#Action#)}: &nbsp;</span>
    <a class="action save" href="javascript:formSubmit('frmUpdatePasswd','submitted',1,1)">{translate(#Save#)}</a>
    <a class="action cancel" href="{makeUrl(#summary#,#account#,#user#)}">{translate(#Cancel#)}</a>
</div>

<div id="content">
    <div id="content-header">
        <h2>{translate(pageTitle)}</h2>
        <div class="message">{msgGet()}</div>
    </div>

    <form method="post" name="frmUpdatePasswd" id="frmUpdatePasswd" flexy:ignore>
        <fieldset class="inside">
            <p>
                <input type="hidden" name="action" value="update" />
            </p>

            <p>
                <label for="frmPasswordOrig">{translate(#Original password#)}</label>
                <span class="error" flexy:if="error[frmPasswordOrig]">{translate(error[frmPasswordOrig])}</span>
                <input type="password" name="frmPasswordOrig" id="frmPasswordOrig" value="{passwordOrig}" />
            </p>
            <p>
                <label for="frmPassword">{translate(#New password#)}</label>
                <span class="error" flexy:if="error[frmPassword]">{translate(error[frmPassword])}</span>
                <input type="password" name="frmPassword" id="frmPassword" value="{password}" />
            </p>
            <p>
                <label for="frmPasswordConfirm">{translate(#Confirm#)}</label>
                <span class="error" flexy:if="error[frmPasswordConfirm]">{translate(error[frmPasswordConfirm])}</span>
                <input type="password" name="frmPasswordConfirm" id="frmPasswordConfirm" value="{passwordConfirm}" />
            </p>
            <p>
                <label for="frmPasswdResetNotify">{translate(#Notify me by email#)}</label>
                <input type="checkbox" name="frmPasswdResetNotify" id="frmPasswdResetNotify" />
            </p>
        </fieldset>
    </form>

    <div class="spacer"></div>
</div>
