<div id="manager-actions">
    <span>{translate(#Action#)}: &nbsp;</span>
    <a class="action add" href="{makeUrl(#add#,#orgType#,#user#)}">{translate(#Add organisation type#)}</a>
    <a class="action cancel" href="{makeUrl(##,#org#,#user#)}">{translate(#Cancel#)}</a>
</div>
<div id="content">
    <div id="content-header">
        <h2>{translate(pageTitle)}</h2>
        <div class="message">{msgGet()}</div>
    </div>
    <form method="post" action="" id="orgTypes" flexy:ignore>
        <h3>{translate(#Organisation Type list#)}</h3>
        <fieldset class="noBorder">
        <input type="hidden" name="action" value="delete" />
            <table class="narrow">
                <thead>
                    <tr>
                        <th width="3%">
                            <span class="tipOwner">
                                <span class="tipText" id="becareful">{translate(#Be Careful!#)}</span>
                                <input type="checkbox" name="checkAll" id="checkAll" onclick="javascript:applyToAllCheckboxes('orgTypes', 'frmDelete[]', this.checked)" />
                            </span>
                        </th>
                        <th width="10%"><a href="{makeUrl(#list#,#orgType#,#user#,##,#frmSortBy|id||frmSortOrder|sortOrder#)}">{translate(#ID#)}</a></th>
                        <th width="82%" class="left"><a class="left" href="{makeUrl(#list#,#orgType#,#user#,##,#frmSortBy|name||frmSortOrder|sortOrder#)}">{translate(#Name#)}</a></th>
                    </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                    <tr class="{switchRowClass()}" flexy:foreach="orgTypes,id,name">
                        <td><input type="checkbox" name="frmDelete[]" id="frmDelete[]" value="{id}" /></td>
                        <td>{id}</td>
                        <td class="left"><a href="{makeUrl(#edit#,#orgType#,#user#,orgTypes,#frmOrgTypeID#,id)}">{name}</a></td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" class="sgl-button" name="delete" value="{translate(#delete selected#)}" onClick="return confirmSubmit('{translate(#organisation type#)}', 'orgTypes')" />
        </fieldset>
    </form>
    <div class="spacer"></div>
</div>
