<div id="manager-actions">
    <span>{translate(#Action#)}: &nbsp;</span>
    <a class="action validate" href="javascript:formSubmit('userPasswordReset');">{translate(#Reset password now#)}</a>
    <a class="action cancel" href="{makeUrl(##,#user#,#user#)}">{translate(#Cancel#)}</a>
</div>
<div id="content">
    <div id="content-header">
        <h2>{translate(pageTitle)}</h2>
        <div class="message">{msgGet()}</div>
    </div>
    <div class="message">
        <div class="warningMessage">{translate(#Reset password info#)}</div>
    </div>
    <form method="post" action="{makeUrl(##,#user#,##)}" id="userPasswordReset" flexy:ignore>
        <fieldset class="inside">
            <input type="hidden" name="frmUserID" value="{user.usr_id}" />
            <input type="hidden" name="action" value="resetPassword" />
            <p>
                <label>{translate(#Resetting password for#)}</label>
                <span>{user.username}</span>
            </p>
            <p>
                <label for="frmPasswdResetNotify">{translate(#Notify user#)}</label>
                <input type="checkbox" name="frmPasswdResetNotify" id="frmPasswdResetNotify" />
            </p>
        </fieldset>
    </form>
    <div class="spacer"></div>
</div>