<div id="manager-actions">
    <span>{translate(#Action#)}: &nbsp;</span>
    <a class="action save" href="javascript:formSubmit('frmOrgEdit','submitted',1,1);">{translate(#Save#)}</a>
    <a class="action undo" href="javascript:formReset('frmOrgEdit');">{translate(#Reset#)}</a>
    <a class="action cancel" href="{makeUrl(##,#org#,#user#)}">{translate(#Cancel#)}</a>
</div>
<div id="content">
    <div id="content-header">
        <h2>{translate(pageTitle)}</h2>
        <div class="message">{msgGet()}</div>
    </div>
    <form action="" method="post" id="frmOrgEdit" flexy:ignore>
        <fieldset class="hide">
            {if:isAdd}
            <input type="hidden" name="action" value="insert" />
            {else:}
            <input type="hidden" name="action" value="update" />
            <input type="hidden" name="org[organisation_id]" value="{org.organisation_id}" /> 
            <input type="hidden" name="org[order_id]" value="{org.order_id}" />
            <input type="hidden" name="org[original_parent_id]" value="{org.parent_id}" />
            {end:}
        </fieldset>

        <h3 flexy:if="isAdd">{translate(#New organisation#)}</h3>
        <h3 flexy:if="!isAdd">{translate(#Edit organisation#)}</h3>
        <fieldset class="inside">
            <h3>{translate(#Details#)}</h3>
            <p>
                <label for="org[name]"><span class="required">*</span>{translate(#Name#)}</label>
                <span class="error" flexy:if="error[name]">{translate(error[name])}</span>
                <input type="text" class="longText" name="org[name]" id="org[name]" value="{org.name}" />
            </p>
            <p>
                <label for="org[description]">{translate(#Description#)}</label>
                <textarea class="longText" rows="5" name="org[description]">{org.description}</textarea>
            </p>
            <p>
                <label for="org[role_id]">{translate(#Default Role#)}</label>
                <select name="org[role_id]" id="org[role_id]">
                    {generateSelect(aRoles,org.role_id):h}
                </select>
            </p>
           {if:conf[OrgMgr][typeEnabled]}
            <p>
                <label for="org[organisation_type_id]">{translate(#Type#)}</label>
                <select name="org[organisation_type_id]" id="org[organisation_type_id]">
                    {generateSelect(aOrgTypes,currentOrgType):h}
                </select>
            </p>
            {end:}
            <p>
                <label for="org[parent_id]">{translate(#Parent Org#)}</label>
                <select name="org[parent_id]" id="org[parent_id]">
                    {orgHierOptions:h}
                </select>
            </p>
            <p>
                <label for="org[website]">{translate(#Website#)}</label>
                <span class="error" flexy:if="error[website]">{translate(error[website])}</span>
                <input type="text" class="longText" name="org[website]" id="org[website]" value="{org.website}" />
            </p>
        </fieldset>
        <fieldset class="inside">
            <h3>{translate(#Location#)}</h3>
            <p>
                <label for="org[addr_1]"><span class="required">*</span>{translate(#Address 1#)}</label>
                <span class="error" flexy:if="error[addr_1]">{translate(error[addr_1])}</span>
                <input type="text" class="longText" name="org[addr_1]" id="org[addr_1]" value="{org.addr_1}" />
            <p>
                <label for="org[addr_2]">{translate(#Address 2#)}</label>
                <input type="text" class="longText" name="org[addr_2]" id="org[addr_2]" value="{org.addr_2}" />
            </p>
            <p>
                <label for="org[addr_3]">{translate(#Address 3#)}</label>
                <input type="text" class="longText" name="org[addr_3]" id="org[addr_3]" value="{org.addr_3}" />
            </p>
            <p>
                <label for="org[city]"><span class="required">*</span>{translate(#City#)}</label>
                <span class="error" flexy:if="error[city]">{translate(error[city])}</span>
                <input type="text" name="org[city]" id="org[city]" value="{org.city}" />
            <p>
                <label for="org[region]">{translate(#County/State/Province#)}</label>
                <select name="org[region]">
                    {generateSelect(states,org.region):h}
                </select>
            </p>
            <p>
                <label for="org[post_code]"><span class="required">*</span>{translate(#ZIP/Postal Code#)}</label>
                <span class="error" flexy:if="error[post_code]">{translate(error[post_code])}</span>
                <input type="text" name="org[post_code]" id="org[post_code]" value="{org.post_code}" />
            </p>
            <p>
                <label for="org[country]"><span class="required">*</span>{translate(#Country#)}</label>
                <span class="error" flexy:if="error[country]">{translate(error[country])}</span>
                <select name="org[country]">
                    {generateSelect(countries,org.country):h}
                </select>
            </p>
        </fieldset>
        <fieldset class="inside">
            <h3>{translate(#Contact#)}</h3>
            <p>
                <label for="org[telephone]">{translate(#Telephone#)}</label>
                <input type="text" name="org[telephone]" id="org[telephone]" value="{org.telephone}" />
            </p>
            <p>
                <label for="org[email]"><span class="required">*</span>{translate(#Email#)}</label>
                <span class="error" flexy:if="error[email]">{translate(error[email])}</span>
                <input type="text" class="longText" name="org[email]" id="org[email]" value="{org.email}" />
            </p>
        </fieldset>
        <p class="helpRequire">
            <span class="required">*</span> <span class="small">{translate(#denotes required field#)}</span>
        </p>
    </form>
    <div class="spacer"></div>
</div>
