<div id="manager-actions">
    <span>{translate(#Action#)}: &nbsp;</span>
    <a class="action save" href="javascript:formSubmit('frmRoleEdit','submitted',1,1);">{translate(#Save#)}</a>
    <a class="action undo" href="javascript:formReset('frmRoleEdit');">{translate(#Reset#)}</a>
    <a class="action cancel" href="{makeUrl(#list#,#role#,#user#)}">{translate(#Cancel#)}</a>
</div>
<div id="content">
    <div id="content-header">
        <h2>{translate(pageTitle)}</h2>
        <div class="message">{msgGet()}</div>
    </div>
    <form action="" method="post" name="frmRoleEdit" id="frmRoleEdit" flexy:ignore>
        <h3 flexy:if="roleAdd">{translate(#New Role#)}</h3>
        <h3 flexy:if="roleEdit">{translate(#Editing role#)} "{role.name}" (#{roleId})</h3>
        <fieldset class="inside">
            {if:roleAdd}
            <input type="hidden" name="action" value="insert" />
            {end:}
            {if:roleEdit}
            <input type="hidden" name="action" value="update" />
            <input type="hidden" name="role[role_id]" value="{roleId}" />
            {end:}
            <p>
                <label for="role[name]">{translate(#Name#)}<span class="required"> *</span></label>
                <span class="error" flexy:if="error[name]">{translate(error[name])}</span>
                <input type="text" class="longText" name="role[name]" id="role[name]" value="{role.name}" />
            </p>
            <p>
                <label for="role[description]">{translate(#Description#)}</label>
                <textarea class="longText" rows="3" name="role[description]" id="role[description]">{role.description}</textarea>
            </p>
            <p class="helpRequire">
                <span class="required">*</span><span class="small"> {translate(#denotes required field#)}</span>
            </p>
        </fieldset>
    </form>
    <div class="spacer"></div>
</div>
