<h1 class="pageTitle">{translate(pageTitle)}</h1>
<div class="message">{msgGet()}</div>

<form id="frmLogin" method="post" action="" flexy:ignore>
    <fieldset class="hide">
        <input type="hidden" name="action" value="login" />
        <input type="hidden" name="redir" value="{redir}" />
    </fieldset>
    <fieldset>
        <dl class="onSide">
            <dt>
                <label for="frm_username"><span class="required">*&nbsp;</span>{translate(#Username#)}</label>
            </dt>
            <dd>
                <div class="error" flexy:if="error[username]">
                    {translate(error[username])}
                </div>
                <input type="text" name="frmUsername" id="frm_username" value="{username}" maxlength="36" />
            </dd>
            <dt>
                <label for="frm_password"><span class="required">*&nbsp;</span>{translate(#Password#)}</label>
            </dt>
            <dd>
                <div class="error" flexy:if="error[password]">
                    {translate(error[password])}
                </div>
                <input type="password" name="frmPassword" id="frm_password" value="{password}" maxlength="24" />
            </dd>
            <dt>&nbsp;</dt>
            <dd>
                <input type="submit" class="button" name="submitted" value="{translate(#Login#)}" />
            </dd>
            <dd flexy:if="conf[RegisterMgr][enabled]">
                <a href="{makeUrl(##,#register#,#user#)}">{translate(#Not Registered#)}</a>
            </dd>
            <dd>
                <a href="{makeUrl(##,#password#,#user#)}">{translate(#Forgot Password#)}</a>
            </dd>
        </dl>
    </fieldset>
    <p><span class="required">*</span> {translate(#denotes required field#)}</p>
</form>
<div class="spacer" style="height:130px"></div>