<h1 class="pageTitle">{translate(pageTitle)}</h1>
<div class="message">{msgGet()}</div>

<p class="center">
    {translate(#Enter the email address you registered with#)}.
</p>

<form id="forgotPasswd" method="post" action="" flexy:ignore>
    <fieldset class="hide">
        <input type="hidden" name="action" value="retrieve" />
    </fieldset>
    <fieldset>
        <dl class="onSide">
            <dt>
                <label for="frmEmail"><span class="required">* </span>{translate(#Email#)}</label>
            </dt>
            <dd>
                <div class="error" flexy:if="error[frmEmail]">
                    {translate(error[frmEmail])}
                </div>
                <input id="frmEmail" type="text" name="frmEmail" value="{forgotEmail}" />
            </dd>
            <dt>
                <label for="frmQuestion"><span class="required">* </span>{translate(#Security question#)}</label>
            </dt>
            <dd>
                <div class="error" flexy:if="error[frmQuestion]">
                    {translate(error[frmQuestion])}
                </div>
                <select id="frmQuestion" name="frmQuestion">
                    {generateSelect(aSecurityQuestions,question):h}
                </select>
            </dd>
            <dt>
                <label for="frmAnswer"><span class="required">* </span>{translate(#Answer#)}</label>
            </dt>
            <dd>
                <div class="error" flexy:if="error[frmAnswer]">
                    {translate(error[frmAnswer])}
                </div>
                <input id="frmAnswer" type="password" name="frmAnswer" value="{answer}" />
            </dd>
            <dt>&nbsp;</dt>
            <dd>
                <input class="button" type="submit" name="submitted" value="{translate(#retrieve#)}" />
            </dd>
        </dl>
    </fieldset>
    <p>
        <span class="required">*</span> {translate(#denotes required field#)}
    </p>
</form>