<h1 class="pageTitle">{translate(pageTitle)}</h1>
<div class="message">{msgGet()}</div>

{if:backButton}
    <p>
        <a href="{makeUrl(##,#contact#,#messaging#)}">{translate(#back to contacts#)}</a>
    </p>
{end:}

<div class="fieldsetlike">
    <h3>{translate(#Personal Details#)}</h3>
    <dl class="onSide">
        <dt>{translate(#Username#)}</dt>
        <dd>{profile.username}</dd>
        <dt>{translate(#Real Name#)}</dt>
        <dd>{profile.first_name}&nbsp;{profile.last_name}</dd>
        <dt>{translate(#Lives in#)}</dt>
        <dd>{profile.country}&nbsp;</dd>
        <dt>{translate(#Member Since#)}</dt>
        <dd>{formatDatePretty(profile.date_created)}</dd>
        {if:conf[LoginMgr][recordLogin]}
            <dt>{translate(#Last Login#)}</dt>
            <dd>
                {if:login.last_login}{formatDatePretty(login.last_login)}{else:}{translate(#first login in progress#)}{end:}
            </dd>
        {end:}
    </dl>
</div>
<div class="fieldsetlike">
    <h3>{translate(#Posting Stats for User#)} {profile.username}</h3>
    <dl class="onSide">
        <dt>{translate(#Total Articles#)}</dt>
        <dd>{if:totalArticles}{totalArticles}{else:}0{end:}</dd>
        <!--dt>{translate(#Total Comments#)}</dt>
        <dd>{translate(#coming soon ...#)}</dd-->
    </dl>
</div>

{if:allowContact}
<form id="account" method="post" action="{makeUrl(##,#instantmessage#,#messaging#)}" flexy:ignore>
    <fieldset class="hide">
        <input type="hidden" name="action" value="compose" />
        <input type="hidden" name="frmRecipients[]" value="{profile.usr_id}" />
    </fieldset>
    <fieldset>
        <h3>{translate(#Contact#)}</h3>
        <dl class="onSide">
            <dt><label for="sendMessage">{translate(#Message#)}</label></dt>
            <dd>
                <input id="sendMessage" class="button" type="submit" name="sendMessage" value="{translate(#send message#)}" />
            </dd>
            <dt><label for="contacts">{translate(#Contacts#)}</label></dt>
            <dd>
                <input id="contacts" class="button" type="button" name="contacts" value="{translate(#add to contacts#)}"
                    onclick="document.location.href='{makeUrl(#insert#,#contact#,#messaging#)}frmUserID/{profile.usr_id}/'" />
            </dd>
        </dl>
    </fieldset>
</form>
{end:}