<h1 class="pageTitle">{translate(pageTitle)}</h1>
<div class="message">{msgGet()}</div>

<form id="updatePasswd" method="post" action="" flexy:ignore>
    <fieldset class="hide">
        <input type="hidden" name="action" value="update" />
    </fieldset>
    <fieldset>
        <!--h3>{translate(#Change Password#)}</h3-->
        <dl class="onSide">
            <dt>
                <label for="frmPasswordOrig"><span class="required">* </span>{translate(#Original password#)}</label>
            </dt>
            <dd>
                <div class="error" flexy:if="error[frmPasswordOrig]">
                    {translate(error[frmPasswordOrig])}
                </div>
                <input id="frmPasswordOrig" type="password" name="frmPasswordOrig" value="{passwordOrig}" />
            </dd>
            <dt>
                <label for="frmPassword"><span class="required">* </span>{translate(#New password#)}</label>
            </dt>
            <dd>
                <div class="error" flexy:if="error[frmPassword]">
                    {translate(error[frmPassword])}
                </div>
                <input id="frmPassword" type="password" name="frmPassword" value="{password}" />
            </dd>
            <dt>
                <label for="frmPasswordConfirm"><span class="required">* </span>{translate(#New password#)}</label>
            </dt>
            <dd>
                <div class="error" flexy:if="error[frmPasswordConfirm]">
                    {translate(error[frmPasswordConfirm])}
                </div>
                <input id="frmPasswordConfirm" type="password" name="frmPasswordConfirm" value="{passwordConfirm}" />
            </dd>
            <dt>
                <label for="frmPasswdResetNotify">{translate(#Notify me by email#)}</label>
            </dt>
            <dd>
                <input id="frmPasswdResetNotify" type="checkbox" name="frmPasswdResetNotify" value="1" />
            </dd>
            <dt>&nbsp;</dt>
            <dd>
                <input class="button" type="submit" name="submitted" value="{translate(#Save#)}" />
                <input class="button" type="button" value="{translate(#Cancel#)}"
                    onclick="document.location.href='{makeUrl(#summary#,#account#,#user#)}'" />
            </dd>
        </dl>
    </fieldset>
</form>
