<form name="frmResourceChooser" id="frmResourceChooser" flexy:ignore>
    <div class="pager">
        <input type="button" name="newsletterCompose" value="{translate(#Compose#)}"
            onClick="javascript:document.location.href='{makeUrl(##,#list#,#newsletter#)}'" />
        <input type="button" name="newsletterSubscribers" value="{translate(#Subscribers#)}"
            onClick="javascript:document.location.href='{makeUrl(#listSubscribers#,#list#,#newsletter#)}'" />
        <input type="button" name="newsletterLists" value="{translate(#Lists#)}"
            onClick="javascript:document.location.href='{makeUrl(#listLists#,#list#,#newsletter#)}'" />
    </div>
</form>
