dl {

}
dl dt {
    position: relative;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 1em;
    line-height: 1em;
}
dl dd {
    position: relative;
    margin: 0;
    top: -1.5em;
    margin-left: 70px;
    margin-bottom: 0.4em;
    background: #ccff00;
}