<div id="module_navigation">
	<ul>

		<li>
			<a href="{makeUrl(#add#,#location#,#event#)}" title="Add Location">
				<img src="{webRoot}/themes/{theme}/images/icons/location_add.png" alt="Add Location" border="0" />
				<!-- Add Location -->
			</a>
		</li>

		<li>
			<a href="{makeUrl(#list#,#location#,#event#)}" title="List Locations">
				<img src="{webRoot}/themes/{theme}/images/icons/location_list.png" alt="List Locations" border="0" />
				<!-- List Locations -->
			</a>
		</li>
	</ul>
</div>