<div id="module_header">
	<h1>Manage Your Events > Search results</h1>
</div>

<flexy:include src="eventModuleNav.html" />

{if:results}

<div id="events_table">
        <form name="events">
            <table cellspacing="0">
                <thead>
                    <tr>
                        <th>{translate(#Title#)}</th>
						<th>{translate(#Starts#)}</th>
                        <th>{translate(#Ends#)}</th>
						<th>{translate(#Type#)}</th>
						<th>{translate(#Hidden#)}</th>
						<th>{translate(#Location#)}</th>
						<th scope="col"><span class="preview">{translate(#Preview#)}</span></th>
						<th scope="col"><span class="edit">{translate(#Edit#)}</span></th>
						<th scope="col"><span class="delete">{translate(#Delete#)}</span></th>
                    </tr>

                </thead>

                <tbody>
                    <tr class="{switchRowClass()}" flexy:foreach="results,key,valueObj">
						<td><span class="highlight">{valueObj.name}</span></td>
						<td>{formatDate(valueObj.start_date)}</td>
                        <td>{formatDate(valueObj.end_date)}</td>
                        <td>{valueObj.event_type_name}</td>
						<td class="icon_in_table">
						{if:valueObj.status}
                            <img src="{webRoot}/themes/{theme}/images/icons/locked.png" alt="{valueObj.status}" />
                        {else:}
                            <img src="{webRoot}/themes/{theme}/images/icons/unlocked.png" alt="{valueObj.status}" />
                        {end:}
						</td>
						<td>
                            <a href="{makeUrl(#edit#,#location#,#event#,results,#frmLocationID|location_id#,key)}"
                                title="Edit this location">
                                {valueObj.location_name}
                            </a>
                        </td>

						<td class="icon_in_table">
							<a href="{makeUrl(#view#,#event#,#event#,results,#frmEventId|event_id#,key)}">
								<img src="{webRoot}/themes/{theme}/images/icons/preview.png" title="Preview this Event" alt="Preview" border="0" />
							</a>
						</td>

						<td class="icon_in_table">
							<a href="{makeUrl(#edit#,#event#,#event#,results,#frmEventId|event_id#,key)}">
								<img src="{webRoot}/themes/{theme}/images/icons/edit.gif" title="Edit this event." alt="Edit Event" border="0" />
							</a>
						</td>

						<td class="icon_in_table">
							<a href="{makeUrl(#delete#,#event#,#event#,results,#frmEventId|event_id#,key)}"
							   onclick="return confirmDelete('event', 'events')">
								<img src="{webRoot}/themes/{theme}/images/icons/delete.gif" title="Delete this event. This can NOT be undone." alt="Delete" border="0" />
							</a>
						</td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr class="infos">
                        <td class="right" colspan="12">
                            {if:pager}
                            <flexy:include src="pearPager.html" />
                            {end:}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    <div class="spacer"></div>
</div>

{else:}
no results found
{end:}