<div id="manager-actions">
    <span>{translate(#Action#)}: &nbsp;</span>
    <a class="action save" href="javascript:formSubmit('article')" accesskey="s">{translate(#Save#)}</a>
    {if:redir}
        <a class="action cancel" href="javascript:document.location.href='{redir}'" accesskey="c">{translate(#Cancel#)}</a>
    {else:}
        <a class="action cancel" href="{makeUrl(#list#,#article#,#publisher#)}" accesskey="c">{translate(#Cancel#)}</a>
    {end:}
</div>
<div id="content">
    <div id="content-header">
        <h2>{translate(pageTitle)}</h2>
        <div class="message">{msgGet()}</div>
    </div>
    <div> <!-- hack for TinyFCK to avoid flickering -->
    <form method="post" name="article" flexy:ignore id="article">
        <fieldset class="hide">
            <input type="hidden" name="redir" value="{redir}" />
            <input type="hidden" name="action" value="update" />
            <input type="hidden" name="frmArticleCatID" value="{article.catID}" />
            <input type="hidden" name="frmCreatedByID" value="{loggedOnUserID}" />
            {foreach:availableLangs,langID,langName}
            <input type="hidden" name="frmAvailableLangs[{langID}]" value="{langID}" />
            {end:}
        </fieldset>

        <div id="optionsLinks"></div>
        <fieldset class="options" id="articleAddContent">
            <h3>{translate(#Content#)}</h3>
            {if:isEqual(conf[translation][container],#db#)}
            <p>
                <label class="tipOwner">{translate(#Language#)}
                <span class="tipText">{translate(#switching language will cause changes to be lost#)}</span>
                </label>
                <select name="frmArticleLang"
                        onChange="javascript:document.location.href='{makeUrl(#edit#,#article#,#publisher#,##,#frmArticleID|articleID#)}frmArticleLang/' + this.options[selectedIndex].value + '/';">
                    {generateSelect(availableLangs,articleLang):h}
                </select>
            </p>
            {end:}
            {foreach:dynaContent,fieldName,fieldContent}
            <p>
                {if:isEqual(fieldName,#BodyHtml#)}
                <label>{translate(fieldName)}</label><br / flexy:if=wysiwyg_tinyfck>
                {fieldContent:h}
                {else:}
                <label>{translate(fieldName)}</label>
                {fieldContent:h}
                {end:}
            </p>
            {end:}
        </fieldset>
        <fieldset class="options" id="articleAddOptions">
            <h3>{translate(#Editing options#)}</h3>
            {if:aCategories}
            <p>
                <label>{translate(#Category#)}</label>
                <span>{breadCrumbs:h}</span>
            </p>
            <p>
                <label>{translate(#Change Category#)}</label>
                <select name="frmCategoryChangeToID">{generateSelect(aCategories,currentCat):h}</select>
            </p>
            {end:}
            <p>
                <label>{translate(#Article type#)}</label>
                <span>{article.type}</span>
            </p>
            <p>
                <label>{translate(#Author#)}</label>
                <span>{article.creatorName}</span>
            </p>
            <p>
                <label>{translate(#Start Date#)}</label>
                <input type="hidden" name="frmStartDate" id="frmStartDate" value="{itemStartDate}" />
                <img class="calendar" id="startDateTrigger" src="{webRoot}/themes/{theme}/images/16/clock.gif" />
                <span name="frmStartDateToShow" id="frmStartDateToShow">{formatDatePretty(itemStartDate)}</span>
            </p>
            <p>
                <label>{translate(#Expiry Date#)}</label>
                <input type="hidden" name="frmExpiryDate" id="frmExpiryDate" value="{itemExpiryDate}" />
                <img class="calendar" id="expiryDateTrigger" src="{webRoot}/themes/{theme}/images/16/clock.gif" />
                <span name="frmExpiryDateToShow" id="frmExpiryDateToShow">{formatDatePretty(itemExpiryDate)}</span>
            </p>
            <p>
                <label>&nbsp;</label>
                <span>{noExpiry:h}</span>
            </p>
            {if:flesch}
            <p>
                <label>{translate(#Flesch score#)}</label>
                <span>{flesch} &nbsp; (<a href="#" onclick="javascript:window.open('{fleschLink}','Flesch','width=500,height=300,top=200,left=300,scrollbars=yes')">{translate(#whats this?#)}</a>)</span>
            </p>
            {end:}
        </fieldset>
    </form>
    </div> <!-- end of tinyFCK hack div -->
    <div class="spacer"></div>
</div>
<style type="text/css">
@import url("{webRoot}/js/jscalendar/calendar-blue2.css");
</style>
<script type="text/javascript">
createAvailOptionsLinks('article','h3');
showSelectedOptions('article','articleAddContent');
Calendar.setup(
    {
        inputField  : "frmStartDate",         // ID of the input field
        ifFormat    : "%Y-%m-%d %H:%M:%S",    // the date format
        displayArea : "frmStartDateToShow",
        daFormat    : SGL_JS_DATETEMPLATE,
        button      : "startDateTrigger"      // ID of the button
    }
);
Calendar.setup(
    {
        inputField  : "frmExpiryDate",        // ID of the input field
        ifFormat    : "%Y-%m-%d %H:%M:%S",    // the date format
        displayArea : "frmExpiryDateToShow",
        daFormat    : SGL_JS_DATETEMPLATE,
        button      : "expiryDateTrigger"     // ID of the button
    }
);
</script>
