<h1 class="pageTitle">{translate(pageTitle)}</h1>
<div class="message">{msgGet()}</div>

<div> <!-- hack for TinyFCK to avoid flickering -->
<form method="post" name="article" flexy:ignore id="article">
    <input type="hidden" name="action" value="insert" />
    <input type="hidden" name="frmCatID" value="{catID}" />
    <input type="hidden" name="frmCreatedByID" value="{loggedOnUserID}" />
    <input type="hidden" name="frmArticleLang" value="{articleLang}" />    

    <table class="wide">
        <tr>
            <th width="30%" nowrap="nowrap">{translate(#Article type#)}</th>
            <td width="70%">
                <select name="frmArticleTypeID" disabled="true">
                    {generateSelect(aArticleTypes,dataTypeID):h}
                </select>
            </td>
        </tr>

        <tr>
            <th width="30%" nowrap="nowrap">{translate(#Author#)}</th>
            <td width="70%">{loggedOnUser}</td>
        </tr>

        {if:aCategories}
        <tr>
            <th width="30%" nowrap="nowrap">{translate(#Category#)}</th>
            <td width="70%">{breadCrumbs:h}</td>
        </tr>
        <tr>
            <th width="30%" nowrap="nowrap">{translate(#Change Category#)}</th>
            <td width="70%"><select name="frmCategoryChangeToID">{generateSelect(aCategories,currentCat):h}</select></td>
        </tr>
        {end:}
        <tr>
            <th width="30%" nowrap="nowrap">{translate(#Start Date#)}</th>
            <td width="70%">
                <input type="hidden" name="frmStartDate" id="frmStartDate" value="{todaysDate}" />
                <a class="dateSelector" id="startDateTrigger">{translate(#Select#)}</a>
                <span name="frmStartDateToShow" id="frmStartDateToShow">{formatDatePretty(todaysDate)}</span>
            </td>
        </tr>

        <tr>
            <th width="30%" nowrap="nowrap">{translate(#Expiry Date#)}</th>
            <td width="70%">
                <input type="hidden" name="frmExpiryDate" id="frmExpiryDate" value="{expiryDate}" />
                <a class="dateSelector" id="expiryDateTrigger">{translate(#Select#)}</a>
                <span name="frmExpiryDateToShow" id="frmExpiryDateToShow">{formatDatePretty(expiryDate)}</span>
                <br />{noExpiry:h}
            </td>
        </tr>
        {foreach:dynaFields,fieldName,fieldContent}
        <tr>
            <th width="30%" nowrap="nowrap">{translate(fieldName)}</th>
            <td width="70%">{fieldContent:h}</td>
        </tr>
        {end:}
        <tr>
            <td width="100%" colspan="2" align="center" nowrap="nowrap">
                <input class="wideButton" type="submit" value="{translate(#Save#)}" />
                <input class="wideButton" type="button" value="{translate(#Cancel#)}"
                    onclick="javascript:document.location.href='{makeUrl(##,#article#,#publisher#)}'" />
            </td>
        </tr>
    </table>
</form>
</div> <!-- end of tinyFCK hack div -->
<style type="text/css">
@import url("{webRoot}/js/jscalendar/calendar-blue2.css");
</style>
<script type="text/javascript">
Calendar.setup(
    {
        inputField  : "frmStartDate",         // ID of the input field
        ifFormat    : "%Y-%m-%d %H:%M:%S",    // the date format
        displayArea : "frmStartDateToShow",
        daFormat    : SGL_JS_DATETEMPLATE,
        button      : "startDateTrigger"      // ID of the button
    }
);
Calendar.setup(
    {
        inputField  : "frmExpiryDate",        // ID of the input field
        ifFormat    : "%Y-%m-%d %H:%M:%S",    // the date format
        displayArea : "frmExpiryDateToShow",
        daFormat    : SGL_JS_DATETEMPLATE,
        button      : "expiryDateTrigger"     // ID of the button
    }
);
</script>
