<script type="text/javascript" src="{webRoot}/themes/{theme}/js/prototype.js"></script>
<script type="text/javascript" src="{webRoot}/themes/{theme}/js/scriptaculous.js?load=effects"></script>
<script type="text/javascript">
<!--
function toggleHighlight(element){
	this.element = $(element);

	if (this.element.checked){
		new Effect.Highlight(this.element.parentNode, {startcolor:'#FFE400', endcolor:'#FAF4C3', restorecolor:'#FAF4C3'});
	} else {
		new Effect.Highlight(this.element.parentNode, {startcolor:'#FFE400', endcolor:'#FFFFFF', restorecolor:'#FFFFFF'});
	}
}
-->
</script>
<script type='text/javascript' src='{webRoot}/ajaxServer.php?client=all&stub=CmsDAO'></script>
<script>
	// create a javascript hash to hold or callback methods
	var hwCallback = {
		getMediaByFileType: function(resultSet) {
            var resultDiv = document.getElementById('mediaList');

            resultDiv.innerHTML = '';
            if (!resultSet) {
                resultDiv.style.display = 'none';
            } else {
                for (var f = 0; f < resultSet.length; ++f){
                    var myRow = document.createElement("tr");

                    //  name
                    var myData = document.createElement("td");
                    myData.innerHTML += resultSet[f].name;
                    myRow.appendChild(myData);

                    //  file size
                    var myData = document.createElement("td");
                    myData.innerHTML += resultSet[f].file_size;
                    myRow.appendChild(myData);

                    //  file type name
                    var myData = document.createElement("td");
                    myData.innerHTML += resultSet[f].file_type_name;
                    myRow.appendChild(myData);

                    //  added by
                    var myData = document.createElement("td");
                    myData.innerHTML += resultSet[f].media_added_by;
                    myRow.appendChild(myData);

                    //  edit
                    var myData = document.createElement("td");
                    myData.innerHTML += '<a href="' + SGL_JS_CURRURL + 'action/edit/frmMediaId/' +
                        resultSet[f].media_id + '/"><img src="'+SGL_JS_WEBROOT+'/themes/'+SGL_JS_THEME+
                        '/images/icons/document_edit.png" alt="edit" border="0" />' + '</a>';
                    myRow.appendChild(myData);

                    //  view
                    var myData = document.createElement("td");
                    myData.innerHTML += '<a href="' + SGL_JS_CURRURL + 'action/view/frmMediaId/' +
                        resultSet[f].media_id + '/"><img src="'+SGL_JS_WEBROOT+'/themes/'+SGL_JS_THEME+
                        '/images/icons/document_view.png" alt="edit" border="0" />' + '</a>';
                    myRow.appendChild(myData);

                    //  download
                    var myData = document.createElement("td");
                    myData.innerHTML += '<a href="' + SGL_JS_CURRURL + 'action/setDownload/frmMediaId/' +
                        resultSet[f].media_id + '/"><img src="'+SGL_JS_WEBROOT+'/themes/'+SGL_JS_THEME+
                        '/images/icons/document_download.png" alt="edit" border="0" />' + '</a>';
                    myRow.appendChild(myData);

                    //  delete
                    var myData = document.createElement("td");
                    myData.innerHTML += '<a href="' + SGL_JS_CURRURL + 'action/delete/frmMediaId/' +
                        resultSet[f].media_id + '/" onclick="return confirmDelete(\'media\', \'mediaList\')"><img src="'+SGL_JS_WEBROOT+'/themes/'+SGL_JS_THEME+
                        '/images/icons/delete.gif" alt="edit" border="0" />' + '</a>';
                    myRow.appendChild(myData);

                    resultDiv.appendChild(myRow);

                }
//resultDiv.innerHTML += "<tr><td><pre>" + resultDiv.innerHTML  + "</pre></td></tr><br>";
                //alert(resultDiv.innerHTML)
//                for (var f = 0; f < resultSet.length; ++f){
//                    resultDiv.innerHTML += "<pre>" + HTML_AJAX_Util.varDump(resultSet[f], 1)+ "</pre><br>";
//                }

            }
		},
	}

	// create our remote object
	// note the lowercase mapping, this is because in php4 php classes and functions have no case
	// in the server you can register each function adding the case back
	var remoteHW = new cmsdao(hwCallback);

	function do_getMediaWithConstraint(theType)
	{
	    var isChecked = document.getElementById(theType).checked;
	    var fileTypeId = '';
	    if (theType == 'imageToggle') {
	        fileTypeId = 5;
	    } else if (theType == 'pdfToggle') {
            fileTypeId = 6;
	    } else if (theType == 'wordToggle') {
            fileTypeId = 1;
	    } else if (theType == 'excelToggle') {
            fileTypeId = 2;
	    }
	    //alert(fileTypeId);
	    if (isChecked) {
	       remoteHW.getMediaByFileType(fileTypeId);
	    } else {
	       remoteHW.getMediaByFileType();
	    }
	}
</script>

<div id="module_header">
	<h1>Manage Your Files</h1>
</div>

<flexy:include src="mediaModuleNav.html" />
<flexy:include src="narrowResultsForm.html" />

<div class="default_table">

    <table cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th scope="col"><a class="header" href="#">File Name</a></th>
                <th scope="col"><a class="header" href="#">{translate(#Kb#)}</a></th>
                <th scope="col"><a class="header" href="#">{translate(#Type#)}</a></th>
                <th scope="col"><a class="header" href="#">{translate(#Owner#)}</a></th>
                <th scope="col">{translate(#Edit#)}</th>
                <th scope="col"><a class="header" href="#">{translate(#View#)}</a></th>
                <th scope="col"><a class="header" href="#">{translate(#Download#)}</a></th>
    			<th scope="col"><a class="header" href="#">{translate(#Delete#)}</a></th>
    		</tr>
        </thead>
        <tbody id="mediaList">&nbsp;</tbody>
    </table>

</div>

        <!--FROM HERE DOWN IS NOT BEING USED-->
<!--        {if:results}

        <tr class="{switchRowClass()}" flexy:foreach="results,key,oValue">
            <td>{GLOBALS.ucfirst(oValue.name)}</td>
            <td>{formatBytes(oValue.file_size)}</td>
            <td nowrap="nowrap">{oValue.file_type_name}</td>
            <td>{formatDate(oValue.date_created)}</td>
            <td>{oValue.media_added_by}</td>
            <td>
                <a href="{makeUrl(#edit#,#media#,#cms#,results,#frmMediaId|media_id#,key)}">
                    <img src="{webRoot}/themes/{theme}/images/icons/document_edit.png" alt="edit" border="0" />
                </a>
            </td>
            <td>
                <a  onClick="javascript:openWindow('{makeUrl(#view#,#media#,#cms#,results,#frmMediaId|media_id#,key)}',500,350)"
                    href="#">
                    <img src="{webRoot}/themes/{theme}/images/icons/document_view.png" alt="view" border="0" />
                </a>
            </td>
            <td>
                <a href="{makeUrl(#setDownload#,#media#,#cms#,results,#frmMediaId|media_id#,key)}">
                    <img src="{webRoot}/themes/{theme}/images/icons/document_download.png" alt="download" border="0" />
                </a>
            </td>
            <td>
                <a href="{makeUrl(#delete#,#media#,#cms#,results,#frmMediaId|media_id#,key)}"
                    onclick="return confirmDelete('media', 'mediaList')">
                    <img src="{webRoot}/themes/{theme}/images/icons/delete.gif" alt="delete" border="0" />
                </a>
            </td>

        </tr>

        {else:}
        <tr>
            <td colspan="10">{translate(#no results found#)}</td>
        </tr>
        {end:}-->