<script type="text/javascript" src="{webRoot}/js/scriptaculous/lib/prototype.js"></script>
<script type="text/javascript" src="{webRoot}/js/scriptaculous/src/scriptaculous.js?load=effects"></script>
<script type="text/javascript">
<!--
function toggleHighlight(element){
	this.element = $(element);

	if (this.element.checked){
		new Effect.Highlight(this.element.parentNode, {startcolor:'#FFE400', endcolor:'#FAF4C3', restorecolor:'#FAF4C3'});
	} else {
		new Effect.Highlight(this.element.parentNode, {startcolor:'#FFE400', endcolor:'#F6F5F2', restorecolor:'#F6F5F2'});
	}
}
-->
</script>
<style type="text/css">
<!--
	@import url("{webRoot}/themes/{theme}/css/lightbox.css");
-->
</style>

<div id="module_header">
	<h1>Available Files (select to attach)</h1>
</div>

<flexy:include src="mediaList_toolbar.html" />
<flexy:include src="mediaList_extraBar.html" />

<div id="collection_form">
<form name="associateFiles" id="associateFiles" method="post" flexy:ignore>
    <input type="hidden" name="action" value="{nextAction}" />
    <input type="hidden" name="frmCallerMgr" value="{callerMgr}" />
    <input type="hidden" name="frmCallerMod" value="{callerMod}" />
    <input type="hidden" name="frmIsEventImage" value="{isEventImage}" />
    <input type="hidden" name="frmEventId" value="{eventId}" />
    <input type="hidden" name="frmUserId" value="{userId}" />
    <input type="hidden" name="frmCategoryId" value="{categoryId}" />

	{foreach:aMedia,k,media}
        {if:isEqual(callerMgr,#category#)}
		<div class="thumb">
		{else:}
		<div class="complete_thumb_highlighted">
        {end:}

		{if:this.plugin(#isImage#,media.file_type_id)}
		<!-- IF IT'S AN IMAGE DISPLAY THIS -->

            <!--1. CHOOSING IMG FOR CATEGORY - DAMNED LACK OF IFELSE IN FLEXY-->
    		{if:isEqual(callerMgr,#category#)}
                <input type="radio" id="image_{media.media_id}" name="frmMediaId"
                       value="{media.media_id}" flexy:raw="{isChecked(media.associated)}" flexy:ignore />
    		{else:}
            <!--2. CHOOSING IMAGE FOR MY ACCOUNT-->
    			{if:isEqual(callerMgr,#account#)}
                    {if:media.isDefaultImg}
                    <input type="radio" id="image_{media.media_id}" name="frmDefaultImg"
                           value="{media.media_id}" checked="checked" flexy:ignore /> select
                    {else:}
                    <input type="radio" id="image_{media.media_id}" name="frmDefaultImg"
                           value="{media.media_id}" flexy:ignore /> select
                    {end:}
                {else:}
            <!--3. CHOOSING IMAGES FOR EVENT-->
    			<input type="checkbox" name="frmAssociateIds[]" value="{media.media_id}" flexy:ignore
                               onchange="javascript:toggleHighlight(this)" flexy:raw="{isChecked(media.associated)}"  />
    			{end:}
            {end:}

            <!--DISPLAY RELVANT IMAGE/ICON-->
            {if:isEqual(callerMgr,#category#)}
            <div class="thumbBox" id="media{media.media_id}">
                <div class="thumbMedia">
                    <img src="{makeUrl(#previewMedia#,#media#,#media#)}frmMediaId/{media.media_id}/frmSize/small" alt="" title="" />
                </div>
            </div>
            {else:}
    			<div class="thumb_icon">
    				    {this.plugin(#id2MediaIcon#,media.file_type_id):h}
    			</div>
			{end:}
		{else:}

	   <!-- IF IT'S A FILE DISPLAY THIS -->
			<input type="checkbox" name="frmAssociateIds[]" value="{media.media_id}" flexy:ignore
                   onchange="javascript:toggleHighlight(this)" flexy:raw="{isChecked(media.associated)}"  />
			<div class="thumb_icon">
				<!-- IN HERE YOU COULD DISPLAY THE THUMBNAIL OF THE IMAGE AND CHANGE THE CLASS TO 'thumb'
				OTHERWISE IT JUST DISPLAYS THE IMAGE ICON -->
				 {this.plugin(#id2MediaIcon#,media.file_type_id):h}
			</div>
        {end:}


			<div class="thumb_title">
				<h3>
					<label for="frmAssociateIds[]">{media.name}</label>
				</h3>
			</div>
		</div>

    {end:}

    <div style="clear:both">
		<div class="form_section">
			<input class="wideButton" type="submit" name="submitted" value="Associate" />
		</div>
    </div>

</form>
</div>
