<div id="module_navigation">
	<ul>

		<li>
			<a href="{makeUrl(#add#,#media#,#media#)}" title="Add File">
				<img src="{webRoot}/themes/{theme}/images/icons/document_add.png" alt="Add File" border="0" />
				<span>Add File</span>
			</a>
		</li>
		<li>
			<a href="#" onclick="new Effect.toggle($('view_type'),'blind', {duration:0.3})" title="Search Files">
				<img src="{webRoot}/themes/{theme}/images/icons/document_search.png" alt="File Search" border="0" />
				<span>Search Files</span>
			</a>
		</li>

	</ul>
	<div class="cb">&nbsp;</div>
</div>