    <div class="moduleToolbar">
        <ul class="floatLeft">
            <li>
                <a href="{makeUrl(#add#,#media#,#media#)}">
                    <img src="{webRoot}/themes/{theme}/images/icons/document_add.png" alt="add" title="Add a file" />
                    <span>{translate(#Add a media#)}</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="Effect.toggle('mediaExtrabarInner', 'blind', {duration: 0.5}); return false;">
                    <img src="{webRoot}/themes/{theme}/images/icons/document_search.png" alt="search" title="Search" />
                    <span>{translate(#Search#)}</span>
                </a>
            </li>
        </ul>
        <!--<ul class="floatRight">
            <li>
                <a href="#" onclick="MediaList.switchViewType();">
                    <img src="{webRoot}/themes/{theme}/images/icons/document_add.png" alt="add" title="Add a file" />
                    <span>Change View</span>
                </a>
            </li>
        </ul>-->
    </div>