<div id="manager-actions">
    <span>{translate(#Action#)}:&nbsp;</span>
    <a class="action save" href="javascript:formSubmit('translations','submitted',1,1)">{translate(#Save#)}</a>
    <a class="action cancel" href="{makeUrl(##,#translation#,#default#)}">{translate(#Cancel#)}</a>
</div>
<div id="content">
    <div id="content-header">
        <h2>{translate(pageTitle)}</h2>
        <div class="message">{msgGet()}</div>
    </div>
    <form name="translations" action="" method="post" flexy:ignore id="translations">
        <input type="hidden" name="action" value="update" />
        <input type="hidden" name="frmCurrentLang" value="{currentLang}" />
        <input type="hidden" name="frmCurrentModule" value="{currentModule}" />

        <h3>{translate(#You are editing: Module#)} "{currentModuleName}"</h3>
        <fieldset class="noBorder">
            <table class="full">
                <thead>
                    <tr>
                        <th width="50%" class="left">{translate(#Master Value#)}</th>
                        <th width="50%" class="left">{translate(#Translated Value#)}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr flexy:foreach="aTargetLang,k,v">
                        {if:GLOBALS.is_array(v)}
                            <td colspan="2">
                                <table class="full noBorder">
                                    <tr flexy:foreach="v,kk,vv">
                                        <td class="left" width="50%">{k}[{kk}]</td>
                                        <td class="left" width="50%">
                                            <input type="text" name="translation[{k}][{kk}]" value="{vv}" size="50" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        {else:}
                            <td class="left">{this.plugin(#getArrayValue#,aSourceLang,k)}</td>
                            <td class="left"><input type="text" name="translation[{k}]" value="{v}" size="50" /></td>
                        {end:}
                    </tr>
                </tbody>
            </table>
            <input type="submit" class="sgl-button" name="save" value="{translate(#Save Translation#)}" />
            <input type="button" class="sgl-button" name="back" value="{translate(#Cancel#)}"
                        onclick="document.location.href='{makeUrl(##,#translation#,#default#)}'" />
        </fieldset>
    </form>
    <div class="spacer"></div>
</div>
