<div id="content">
    <div id="content-header">
        <h2>{translate(pageTitle)} <span flexy:if="module.module_id">{module.title}</span></h2>
        <div class="message">{msgGet()}</div>
    </div>

    <form name="checkLatestVersion" action="" method="post" id="checkLatestVersion" flexy:ignore>
        <h3>{translate(#Check for Latest Version#)}</h3>
        <fieldset class="inside">
            <p class="center">
                <input type="hidden" name="action" value="checkLatestVersion" />
                <input type="submit" class="sgl-button" name="checkLatestVersion" value="{translate(#Check Now#)}" />
            </p>
        </fieldset>
    </form>

    <form name="dataobjects" method="post" id="dataobjects" flexy:ignore>
        <h3>{translate(#Rebuild Data Objects#)}</h3>
        <fieldset class="inside">
            <p class="center">
                <input type="hidden" name="action" value="dbgen" />
                <input type="submit" class="sgl-button"name="dbgen" value="{translate(#Rebuild Dataobjects Now#)}" />
            </p>
        </fieldset>
    </form>

    <form name="sequences" method="post" id="sequences" flexy:ignore>
        <h3>{translate(#Rebuild DB Sequences#)}</h3>
        <fieldset class="inside">
            <p class="center">
                <input type="hidden" name="action" value="rebuildSequences" />
                <input type="submit" class="sgl-button"name="submit" value="{translate(#Rebuild Sequences Now#)}" />
            </p>
        </fieldset>
    </form>

    <form name="caches" method="post" id="caches" flexy:ignore>
        <h3>{translate(#Manage Caches#)}</h3>
        <fieldset class="inside">
            <p class="center">
                <input type="hidden" name="action" value="clearCache" />
                <input type="checkbox" name="frmCache[blocks]" value="1" />{translate(#blocks#,#ucfirst#)}
                <input type="checkbox" name="frmCache[categorySelect]" value="1" />{translate(#Categories#,#ucfirst#)}
                <input type="checkbox" name="frmCache[nav]" value="1" />{translate(#navigation#,#ucfirst#)}
                <input type="checkbox" name="frmCache[pear]" value="1" /><acronym>PEAR</acronym>
                <input type="checkbox" name="frmCache[perms]" value="1" />{translate(#Permissions#,#ucfirst#)}
                <input type="checkbox" name="frmCache[templates]" value="1" />{translate(#Templates#,#ucfirst#)}
                <input type="checkbox" name="frmCache[translations]" value="1" />{translate(#translations#,#ucfirst#)}
                <input type="checkbox" name="frmCache[uri]" value="1" /><acronym>URI</acronym>
            </p>
            <div class="center">
                <input type="checkbox" name="checkAll" id="checkAll"
                       onClick="javascript:applyToAllCheckboxes('caches', false, this.checked)" />
                <label for="checkAll">{translate(#select all#,#ucfirst#)}</label>
            </div>
            <div class="center">
                <p class="error" flexy:if="error[nothingChecked]">
                    {error[nothingChecked]}
                </p>
                <input type="submit" class="sgl-button"name="submitted" value="{translate(#Clear Selected Caches Now#)}" />
            </div>
        </fieldset>
    </form>

    <form method="post" action="" flexy:ignore>
        <h3>{translate(#Delete cached configs#)}</h3>
        <fieldset class="hide">
            <input type="hidden" name="action" value="deleteConfigs" />
        </fieldset>
        <fieldset class="inside">
            <p class="center">
                <input class="sgl-button" type="submit" name="submit" value="{translate(#Delete#)}" />
            </p>
        </fieldset>
    </form>

    <form name="rebuildSeagull" method="post" id="rebuildSeagull" flexy:ignore>
        <h3>{translate(#Rebuild Seagull#)}</h3>
        <fieldset class="inside">
            <p class="center">
                {translate(#WARNING: This will drop your database#)}
            </p>
            <div class="center">
                <input type="hidden" name="action" value="rebuildSeagull" />
                <input type="submit" class="sgl-button"name="submit" value="{translate(#Rebuild Seagull#)}" />
                <input type="checkbox" name="frmSampleData" id="sampleData" value="1" />
                <label for="sampleData">{translate(#with sample data#)}</label>
            </div>
        </fieldset>
    </form>
    <div class="spacer"></div>
</div>
