<flexy:include src="admin_header.html" />
<flexy:include src="admin_banner.html" />
<flexy:include src="admin_leftBlock.html" />
            <div id="middle-column">
                <div id="main">
                    <div id="manager-infos">
                        <h1>{GLOBALS.ucfirst(moduleName)} / {translate(pageTitle)}</h1>
                    </div>
                    {outputBody()}
                </div> <!-- end of #main -->
            </div> <!-- end of #middle-column -->
<flexy:include src="admin_footer.html" />
