<div id="manager-actions">
    <span>{translate(#Action#)}:&nbsp;</span>
    <a class="action save" href="javascript:formSubmit('translations','submitted',1,1)">{translate(#Save#)}</a>
    <a class="action cancel" href="{makeUrl(##,#translation#,#default#)}">{translate(#Cancel#)}</a>
</div>
<div id="content">
    <div id="content-header">
        <h2>{translate(pageTitle)}</h2>
        <div class="message">{msgGet()}</div>
    </div>

    <h3>{translate(#You are updating: Module#)} "{currentModuleName}"</h3>

    <fieldset class="inside">
        <p>{translate(#The source translation has#)} {sourceElements} {translate(#elements#)}.<br />
            {translate(#The target translation has#)} {targetElements} {translate(#elements#)}.</p>
        <p>{translate(#Please add#)} {currentLangName} {translate(#values for the following keys which appear to be missing from the#)} {currentModule} {translate(#module#)}:</p>
    </fieldset>

    <form name="translations" action="" method="post" flexy:ignore id="translations">
        <input type="hidden" name="action" value="append" />
        <input type="hidden" name="frmCurrentLang" value="{currentLang}" />
        <input type="hidden" name="frmCurrentModule" value="{currentModule}" />

        <fieldset class="noBorder">
            <table class="full">
                <thead>
                    <tr>
                        <th width="50%" class="left">{translate(#Master Value#)}</th>
                        <th width="50%" class="left">{translate(#Translated Value#)}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr flexy:foreach="aTargetLang,k,v">
                        <td class="left">{v}</td>
                        <td class="left">
                            <input type="text" name="translation[{k}]" value="" size="50" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" class="sgl-button" name="save" value="{translate(#Save Translation#)}" />
            <input type="button" class="sgl-button" name="back" value="{translate(#Cancel#)}"
                        onclick="document.location.href='{makeUrl(##,#translation#,#default#)}'" />
        </fieldset>
    </form>
    <div class="spacer"></div>
</div>
