        <!-- Logo and header -->
        <div id="header">
            <div class="wrapLeft">
                <div class="wrapRight">
                    <div class="wrap">
                        <a id="logo" href="{webRoot}/{conf[site][frontScriptName]}" title="{translate(#Home#)}">
                        {if:conf[site][showLogo]}
                        <img src="{webRoot}/themes/{theme}/images/{conf[site][showLogo]}" alt="{conf[site][name]} Logo" />
                        {else:}
                        <span>{conf[site][name]}</span>
                        {end:}
                        </a>
                        {if:conf[debug][showBugReporterLink]}
                        <a id="bugReporter" href="{makeUrl(##,#bug#,#default#)}" title="{translate(#send bug report#)}">
                            <img src="{webRoot}/themes/{theme}/images/bug.gif" alt="{translate(#send bug report#)}" />
                        </a>
                        {end:}
                    </div>
                </div>
            </div>
        </div> <!-- close header -->

        <!-- top navigation -->
        <div id="top-nav">
            <div class="inner">
            {foreach:blocksMainNav,key,valueObj}
                {valueObj.content:h}
            {end:}
            </div>
        </div> <!-- close top-nav -->
        <div id="breadcrumbs">
            <div class="inner">
                <div id="breadcrumb">
                {foreach:blocksMainBreadcrumb,key,valueObj}
                    {valueObj.content:h}
                {end:}
                </div>
                {foreach:blocksBodyTop,key,valueObj}
                    {valueObj.content:h}
                {end:}
                <div class="spacer">&nbsp;</div>
            </div>
        </div>

        <!-- Main layout -->
        <div id="inner-wrapper">
