<script type="text/javascript">
var Debug = {
        toggle: function(id) {
            var e = document.getElementById(id);
            if(e.style.display == 'none')
                e.style.display = 'block';
            else
                e.style.display = 'none';
        }
}
</script>

<div id="debug" style="
    ">
    <strong>Debug Toolbar</strong>
    <!-- DEBUG -->
    <li><a href="#" onclick="Debug.toggle('debug_request')">SGL_Request</a></li>
    <div id="debug_request" style="display: none;">{debug_request:r}</div>

    <!-- SESSION -->
    <li><a href="#" onclick="Debug.toggle('debug_session')">$_SESSION</a></li>
    <div id="debug_session" style="display: none;">{debug_session:r}</div>

    <!-- MODULE -->
    <li><a href="#" onclick="Debug.toggle('debug_module')">Module</a></li>
    <div id="debug_module" style="display: none;">{debug_module}</div>

    <!-- MANAGER -->
    <li><a href="#" onclick="Debug.toggle('debug_manager')">Manager</a></li>
    <div id="debug_manager" style="display: none;">{debug_manager}</div>

    <!-- ACTION -->
    <li><a href="#" onclick="Debug.toggle('debug_action')">Action</a></li>
    <div id="debug_action" style="display: none;">{debug_action}</div>

    <!-- SECTION -->
    <li><a href="#" onclick="Debug.toggle('debug_section')">Section</a></li>
    <div id="debug_section" style="display: none;">{debug_section}</div>

    <!-- MASTER TEMPLATE -->
    <li><a href="#" onclick="Debug.toggle('debug_master_template')">Master template</a></li>
    <div id="debug_master_template" style="display: none;">{debug_master_template}</div>

    <!-- TEMPLATE -->
    <li><a href="#" onclick="Debug.toggle('debug_template')">Template</a></li>
    <div id="debug_template" style="display: none;">{debug_template}</div>

    <!-- THEME -->
    <li><a href="#" onclick="Debug.toggle('debug_theme')">Theme</a></li>
    <div id="debug_theme" style="display: none;">{debug_theme}</div>

</div>