        <flexy:include src="header.html" />
        <flexy:include src="banner.html" />
        <div class="inner-container" id="layout-rightCol">
            <div id="rightCol">
                <div class="inner">
                    <flexy:include src="rightCol.html" />
                </div>
            </div>
            <div id="middleCol">
                <div class="inner" id="content">
                {outputBody()}
                </div>
            </div>
            <div class="spacer"></div>
        </div> <!-- close inner-container -->
        <flexy:include src="footer.html" />
