[block_assignment]
section_id = section:section_id

[document]
category_id = category:category_id
document_type_id = document_type:document_type_id 
added_by = usr:usr_id

[instant_message]
user_id_from = usr:usr_id
user_id_to = usr:usr_id

[organisation]
role_id = role:role_id 

[usr]
role_id = role:role_id