{sectionArrayJS:h}
<div id="manager-actions">
    <span>{translate(#Action#)}:&nbsp;</span>
    <a class="action add" href="{makeUrl(#add#,#section#,#navigation#)}" accesskey="n">{translate(#New section#)}</a>
</div>
<div id="content">
    <div id="content-header">
        <h2>{translate(pageTitle)} :: {translate(mode)}</h2>
        <div class="message">{msgGet()}</div>
    </div>
    <form method="post" flexy:ignore name="frmSectionMgr" id="frmSectionMgr" action="">
        <fieldset class="noBorder">
            <input type="hidden" name="action" value="delete" />
            <table class="full">
                <thead>
                    <tr>
                        <th width="3%">
                            <span class="tipOwner">
                                <input type="checkbox" name="checkAll" id="checkAll" onclick="javascript:applyToAllCheckboxes('frmSectionMgr', 'frmDelete[]', this.checked)" />
                                <span class="tipText" id="becareful">{translate(#Be Careful!#)}</span>
                            </span>
                        </th>
                        <th width="3%">{translate(#ID#)}</th>
                        <th width="10%">{translate(#move#,#ucfirst#)}</th>
                        <th width="33%" class="left">{translate(#Title#)}</th>
                        <th width="34%" class="left">{translate(#Resource URI#)}</th>
                        <th width="8%">{translate(#Parent ID#)}</th>
                        <th width="4%">{translate(#Order#)}</th>
                        <th width="5%">{translate(#Status#)}</th>
                    </tr>
                </thead>
                <tfoot>

                </tfoot>
                <tbody>
                    <tr class="{switchRowClass()}" flexy:foreach="results,key,section">
                        <td><input type="checkbox" name="frmDelete[{section[section_id]}]" id="frmDelete[]" value="{section[section_id]}" /></td>
                        <td>{section[section_id]}</td>
                        <td align="center">
                            {if:section[images][moveDownTarget]}
                                <a href="{makeUrl(#reorder#,#section#,#navigation#,results,#frmSectionId|section_id||targetId|images[moveDownTarget]||move|down#,key)}">
                                    <img src="{webRoot}/themes/{theme}/{section[images][moveDownImg]:h}" alt="Move {section[title]} down" /></a>
                            {else:} <img src="{webRoot}/themes/{theme}/{section[images][moveDownImg]:h}" alt="Move {section[title]} down" />
                            {end:}

                            {if:section[images][moveUpTarget]}
                                <a href="{makeUrl(#reorder#,#section#,#navigation#,results,#frmSectionId|section_id||targetId|images[moveUpTarget]||move|up#,key)}">
                                    <img src="{webRoot}/themes/{theme}/{section[images][moveUpImg]:h}" alt="Move {section[title]} up" /></a>
                            {else:} <img src="{webRoot}/themes/{theme}/{section[images][moveUpImg]:h}" alt="Move {section[title]} up" />
                            {end:}
                        </td>
                        <td class="left">{foreach:section[images][treePad],image}<img src="{webRoot}/themes/{theme}/{image:h}" alt="" />{end:}
                            <a flexy:if="fallbackLang" href="{makeUrl(#edit#,#section#,#navigation#,results,#frmSectionId|section_id||frmNavLang|fallbackLang#,key)}">{section[title]:h}</a>
                            <a flexy:if="!fallbackLang" href="{makeUrl(#edit#,#section#,#navigation#,results,#frmSectionId|section_id#,key)}" title="{translate(#Alias#)} : {section[uri_alias]}">{section[title]:h}</a></td>
                        <td class="left">{summarise(section[resource_uri],#42#,#1#)}</td>
                        <td>{section[parent_id]}</td>
                        <td>{section[order_id]}</td>
                        <td>
                            {if:section[is_enabled]}<img src="{webRoot}/themes/{theme}/images/16/status_enabled.gif" alt="{translate(#Enabled#)}" title="{translate(#Enabled#)}" />
                            {else:}<img src="{webRoot}/themes/{theme}/images/16/status_disabled.gif" alt="{translate(#Disabled#)}" title="{translate(#Disabled#)}" />
                            {end:}</td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" class="sgl-button" name="Delete" value="{translate(#delete selected#)}" onclick="return confirmDelete('section', 'frmSectionMgr')" />
        </fieldset>
    </form>
    <div class="spacer"></div>
</div>
