<h1 class="pageTitle">{translate(pageTitle)} :: {translate(#Browse#)}</h1>
<div class="message">{msgGet()}</div>

<div id="navPreview">
    <span>{translate(#preview#)}</span>

    <div id="nav">
        {navListPreview:h}
    </div>
</div>

<div align="center">
    <form method="post" name="styleForm" flexy:ignore id="styleForm">
        <input type="hidden" name="action" value="style" />

        <table class="narrow">
            <tr>
                <td align="center" colspan="2">
                    <input type="button" value="{translate(#return to navigation manager#)}" onclick="javascript:document.location.href='{makeUrl(#list#,#page#,#navigation#)}'" />
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td align="center" colspan="2">{translate(#Navigation menu preview as displayed to the following role#)}: {groupsRadioButtons:h}</td>
            </tr>

            <tr>
                <th>{translate(#Style Name#)}</th>
                <th>{translate(#Last modified#)}</th>
            </tr>

            <tr class="{switchRowClass()}" flexy:foreach="styleFiles,key,file">
                <td align="left">
                {if:file[currentStyle]} 
                    <img src="{webRoot}/themes/{theme}/images/bullet.gif" alt="current style" width="15" height="14" /> 
                {else:} 
                    <img src="{webRoot}/themes/{theme}/images/pixel.gif" alt="current style" width="15" height="14" /> 
                {end:}&nbsp; 

                <a href="{makeUrl(#changeStyle#,#navstyle#,#navigation#)}newStyle/{key}/staticId/{staticId}/rid/{rid}/">{key}</a> &nbsp;&nbsp;</td>

                <td align="center">{file[fileMtime]}</td>
            </tr>

            <tr>
                <td align="left" colspan="2">(<img src="{webRoot}/themes/{theme}/images/bullet.gif" alt="current style" width="15" height="14" /> = {translate(#current style, previewed above#)})</td>
            </tr>
        </table>
    </form>
</div>